{% extends "blog/base.html" %}
{% block content %}
	<h1>About</h1>
		<div class="text-align text-justify">
			<p>This is an online blog application for ProCure Solutions (Pty) Ltd. The application allows users to register to the platform, create a profile, create, update and delete blog posts, and view a dashboard of posts from registered users on the <a href="{% url 'blog-home' %}">Home</a> page.The user may filter through user posts by selecting the respective author of a particular post.</p>

			<strong>Disclaimer: This is currently a development distribution intended for limited, select use. It is not recommended that this be released for commercial use, and the developer accepts no responsibility for any damages of any nature due to user testing of this software application.</strong>
		</div>
{% endblock content %}					